body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header,footer {
    text-align: center;
}

/*
 * kamo
 */
div.element-kamo {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-image: url("img/kamo.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
div.element-kamo:hover {
    background-image: url("img/kamo_super.png");
}
div.element-kamo>div {
    width: 100%;
    height: 100%;
}

/*
 * link-button
 */
section.link-button {
    padding: 12% 0 12% 0;
    text-align: center;
}
img {
    width: 260px;
    margin: 0 40px;
}
