html {
    font-family: "創英角ポップ体","arial narrow","Microsoft Sans Serif",sans-serif;
    height: 100%;
}
body {
    height: 100%;
}

h1,p,ul {
    margin: 0;
}

/*
 * classical-window
 */
div.element-classical-window {
    width: 80%;
    margin: 5em auto;
}
